<h1> Lista de Produtos</h1>
<table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do Produto</th>
        <th scope="col">Marca</th>
        <th scope="col">Valor</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.marca}}</td>
        <td>{{produto.valor}}</td>
        <td><button type="button" class="btn btn-dark actionsdiv" routerLink="/editar-produto/{{produto.id}}">Editar</button>
        <button (click)="deletarProduto(produto.id)" type="button" class="btn btn-danger actionsdiv">Deletar</button></td>
    </tr>
 
      
      
      
    </tbody>
  </table>
  
  


