<h1> Lista de Produtos</h1>
<table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome do Produto</th>
        <th scope="col">Marca</th>
        <th scope="col">Valor</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td>
         <div >
          <button type="button" class="btn btn-dark actionsdiv">Editar</button>
          <button type="button" class="btn btn-danger actionsdiv">Deletar</button>
         </div>
          
      
      </td>
      </tr>
      
      
      
    </tbody>
  </table>
  
  


